.venv/
build/
dist/
.vscode/
**__pycache__**
**.egg-info**
**/.cache/
**/.pytest_cache/
leaks
scratch/
**/vgcore.*

**/*.old
hexc/map.c
hexc/map.h
hexc/py_call_super.c
hexc/py_call_super.h
hexc/super.c
tests/profile.py
tests/ref_old.py
tests/speed_comp.py
tests/leak_check.py
.python-version
